<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
  <appSettings>
    <!--<add key="Conexao1" value="Data Source=10.11.0.23\tgs;Initial Catalog=Cards;User Id=desenvolvimento;Password=cards@3456" />-->
    <!--<add key="BaseAddress" value="https://localhost:44375" />-->
    <add key="BaseAddress" value="http://localhost:62213"/>
    <!--<add key="BaseAddress" value="https://10.11.0.23" />-->
  </appSettings>
</configuration>
